
    <!-- <button @click="goToMyChecklists">My Checklists</button> -->
    <!-- <ul>
        <li v-for="checklist in checklists" :key="checklist.id">
        <p>{{ checklist?.observation_date || "Unknown Date" }} - {{ checklist.sample_event_identifier || "Unknown Event" }}</p>
            <button class="delete-button" @click="deleteChecklist(checklist.id)">Delete</button>
            <button class="edit-button" @click="editChecklist(checklist.id)">Edit</button>
        </li>
    {{ pass }}
    </ul> -->

    [[extend 'layout.html']] 

    <div id="app">
        <h1>My Checklists</h1>
    
        <table border="1" style="width: 100%; border-collapse: collapse; text-align: left;">
            <thead>
                <tr>
                    <th style="padding: 10px;">Species</th>
                    <th style="padding: 10px;">Date Seen</th>
                    <th style="padding: 10px;">Count</th>
                    <th style="padding: 10px;">Actions</th>
                </tr>
            </thead>
            <tbody>
                <template v-for="(checklist, index) in checklists">
                    <tr v-for="(sighting, idx) in checklist.sightings" :key="sighting.id">
                        <td :style="{ 'border-top': idx > 0 ? '1px solid #ddd' : 'none', 'padding': '10px' }">
                            {{ sighting.specie_name }}
                        </td>
                        <td :style="{ 'border-top': idx > 0 ? '1px solid #ddd' : 'none', 'padding': '10px' }">
                            <span v-if="!sighting.isEditing">{{ checklist.observation_date || "Unknown Date" }}</span>
                            <input v-else v-model="sighting.newDate" type="date" />
                        </td>
                        <td :style="{ 'border-top': idx > 0 ? '1px solid #ddd' : 'none', 'padding': '10px' }">
                            <span v-if="!sighting.isEditing">{{ sighting.observation_count }}</span>
                            <input v-else v-model="sighting.newCount" type="number" min="0" />
                        </td>
                        <td :style="{ 'border-top': idx > 0 ? '1px solid #ddd' : 'none', 'padding': '10px' }">
                            <button v-if="!sighting.isEditing" @click="enableEdit(sighting)">Edit</button>
                            <button v-else @click="saveEdit(sighting, checklist)">Save</button>
                            <button @click="deleteChecklist(checklist.id)">Delete</button>
                        </td>
                    </tr>
                </template>
            </tbody>
        </table>
    </div>    
    
    [[block page_scripts]]
    <script>
        const checklists = "[[=checklists]]";
        let decodedChecklists = checklists.replace(/&quot;/g, '"');
        const Pchecklists = JSON.parse(decodedChecklists);
    
        console.log("Parsed Checklists:", Pchecklists);
    </script>
    <script src="js/my_checklists.js"></script>
    [[end]]
    