[[extend 'layout.html']]

<div id="app">
    <h1>My Checklists</h1>
    <ul>
        <li v-for="checklist in checklists" :key="checklist.id">
            <p>{{ checklist.observation_date }} - {{ checklist.sample_event_identifier }}</p>
            <button @click="deleteChecklist(checklist.id)">Delete</button>
            <button @click="editChecklist(checklist.id)">Edit</button>
        </li>
    </ul>
</div>

[[block page_scripts]]
<script>
    const checklists = "[[=checklists]]";
</script>
<script src="js/my_checklists.js"></script>
[[end]]
